# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/

# iOS
*.xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
/data/
*.pt
*.pth
*.onnx
